.header{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(255, 255, 255);
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    border-bottom-style: solid ;
    border-bottom-color: rgb(209, 209, 209);
    border-bottom-width: 1px;
    z-index: 100;

}
.left-section{    
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
 flex: 1;
 margin-left: 70px;
 margin-right: 35px;
 max-width: 500px;
display: flex;
 align-items: center;

}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 25px 0 0 25px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0px;
}
.search-button{
    height: 40px;
    width: 66px;
    margin-right: 10px;
    margin-left: -1px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    background-color: rgb(245, 245, 245);
    border-radius: 0 25px 25px 0;
}
.search-icon{
 height: 25px;
 margin-top: 4px;
}
.voice-button{
 height: 40px;
 width: 40px;
 border-radius: 25px;
 border: none;
 background-color: rgb(245, 245, 245);
}
.voice-icon{
 height: 30px;
 margin-top: 4px;
 cursor: pointer;
}
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload-icon{
    height: 30px;
}
.youtubeapp-icon{
    height: 30px;
}
.notifications-icon{
    height: 30px;
 
}
.current-user{
    height: 32px;
    border-radius: 16px;
}
.notifications-row{
    position: relative;
    
}
.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.search-button,
.voice-button,
.create-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-button .toolkit,
.voice-button .toolkit{
    position: absolute;
    background-color: grey;
    border-radius: 3px;
    bottom: -30px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.10s;
    pointer-events: none;
    white-space:nowrap;
    font-family:Roboto,arial;

}
.search-button:hover .toolkit,
.voice-button:hover .toolkit,
.create-container:hover .toolkit
{
    opacity: 1;
}
.create-container .toolkit{
    position: absolute;
    background-color: grey;
    border-radius: 3px;
    bottom: -35px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.005s;
    pointer-events: none;
    white-space:nowrap;
    font-family:Roboto,arial;

}